@import "tailwindcss";
@import '@mantine/core/styles.css';


:root {

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  width: 100%;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  background: transparent !important;
}

body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(336deg, rgba(125, 121, 185, 1) 45%, rgba(96, 92, 172, 1) 78%, rgba(70, 67, 136, 1) 95%) !important;
  background-size: 300% 300% !important;
}
@keyframes rotate {
  from { background-position: 0% 100%; }
  to { background-position: 100% 0%; }
}